<html>
    <head>
        {% if title %}
        <title>{{ title }} - yeonghwan blog</title>
        {% else %}
        <title>yeonghwan blog</title>
        {% endif %}
    </head>
    <body>
        <div>
            yeonghwan blog:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <!-- <a href="/index">Home</a>
            <a href="/login">Login</a> -->
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>